FCA/EstruturaAPI-Node-RedESTUDO.json
[{"id":"a6a2802b.1d5c9","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"aa266a67.e029a8","type":"http in","z":"a6a2802b.1d5c9","name":"","url":"/suaapi","method":"post","upload":true,"swaggerDoc":"","x":140,"y":140,"wires":[["c84298c7.440f98"]]},{"id":"c84298c7.440f98","type":"switch","z":"a6a2802b.1d5c9","name":"Verifica se é Texto ou Audio","property":"req.body.text","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["5757e04c.26ce8"],["eced84aa.a3cfe8"]]},{"id":"eced84aa.a3cfe8","type":"change","z":"a6a2802b.1d5c9","name":"Inclui Texto p/ Analise","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["579b4c8d.b9a8b4"]]},{"id":"5757e04c.26ce8","type":"change","z":"a6a2802b.1d5c9","name":"Inclui Audio p/ Analise","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["2c0bc1b5.62c7de"]]},{"id":"2c0bc1b5.62c7de","type":"watson-speech-to-text","z":"a6a2802b.1d5c9","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":900,"y":80,"wires":[["8c78d9ad.87bc48"]]},{"id":"579b4c8d.b9a8b4","type":"function","z":"a6a2802b.1d5c9","name":"NLU Options (1 Video do Gama)","func":"https://www.youtube.com/watch?v=Nqyd5rJ0KJU\nMinuto : 21:49\nreturn msg;","outputs":1,"noerr":9,"initialize":"","finalize":"","x":960,"y":200,"wires":[["72544654.b4cd78"]]},{"id":"8c78d9ad.87bc48","type":"function","z":"a6a2802b.1d5c9","name":"Pega Transcription do STT","func":"msg.payload = msg.transcription\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":80,"wires":[["48253b60.e0c724"]]},{"id":"72544654.b4cd78","type":"natural-language-understanding","z":"a6a2802b.1d5c9","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":1260,"y":200,"wires":[["6aedbde9.395804"]]},{"id":"48253b60.e0c724","type":"natural-language-understanding","z":"a6a2802b.1d5c9","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":1480,"y":80,"wires":[["62927087.f400f"]]},{"id":"6aedbde9.395804","type":"function","z":"a6a2802b.1d5c9","name":"Faça a Recomendacao e Retorno Aqui","func":"var entidades = [];\nvar CarroRecomendacao = \"SUA RECOMENDACAO AQUI\";\n\n//Pega a resposta do NLU e coloca no Padrão de Retorno\nfor(i=0;i<msg.features.entities.length;i++){\n    \n    var objEntidades = {\n        entity: msg.features.entities[i].type,\n        sentiment: msg.features.entities[i].sentiment.score,\n        mention: msg.features.entities[i].text\n    };\n    \n    entidades[i]=objEntidades;\n    \n}\n\nvar resposta = {\n  recommendation: strRecomendacao,\n  entities : entidades\n};\n\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":200,"wires":[["c0c6c0a3.97c94"]]},{"id":"62927087.f400f","type":"function","z":"a6a2802b.1d5c9","name":"Faça a Recomendacao e Retorno Aqui","func":"var entidades = [];\nvar CarroRecomendacao = \"SUA RECOMENDACAO AQUI\";\n\n//Pega a resposta do NLU e coloca no Padrão de Retorno\nfor(i=0;i<msg.features.entities.length;i++){\n    \n    var objEntidades = {\n        entity: msg.features.entities[i].type,\n        sentiment: msg.features.entities[i].sentiment.score,\n        mention: msg.features.entities[i].text\n    };\n    \n    entidades[i]=objEntidades;\n    \n}\n\nvar resposta = {\n  recommendation: strRecomendacao,\n  entities : entidades\n};\n\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":80,"wires":[["c0c6c0a3.97c94"]]},{"id":"c0c6c0a3.97c94","type":"http response","z":"a6a2802b.1d5c9","name":"Resposta","statusCode":"","headers":{"content-type":"application/json"},"x":2180,"y":140,"wires":[]}]